

 .cv{
    display: flex;
    width: 900px;
    margin: 30px;
    background: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background: #f0f0f0;
}
.left{
    width: 35%;
    background: pink;
    color: white;
    padding: 20px;
}
.profil{
    text-align: center;
    margin-bottom: 40px;
    font-family: serif, sans-serif;
}
.section{
    margin-bottom: 50px;
}
.section h3{
    border-bottom: 5px solid beige;
    margin-bottom: 10px;

}
.profil img{
    border-radius: 50%;
    margin-bottom: 20px;
    width: 130px;
    height: 130px;
}
.right{
    width: 60%;
    padding: 25px;
    margin-bottom: 30px;
    margin-top: 50px;

}
em{
    color: brown;
}
.container{
   .cv{
    display: flex;
    height: min-content;
    flex-direction: row;
    width: 100%;
    margin: auto;
   }
   .left{
    width: 40%;
    margin-bottom: 20px;

   }
   .right{
    width: 60%;
    margin-bottom: 20px;
    margin-top: 50px;
   }
}
@media(max-width:768px) {
    .container{
        .cv{
            display: flex;
            flex-direction: column;
            height: fit-content;
            max-width: fit-content;
        }
    }
    
}